@CHARSET "UTF-8";

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
	code, form, fieldset, legend, input, textarea, p, blockquote, th, td,
	header, hgroup, nav, section, article, aside, footer, figure,
	figcaption, menu, button {
	margin: 0;
	padding: 0
}
html{
	color: #333;
	font-size: 100%;
}
body {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	line-height: 1.5;
	color: #333;
	font-size: 1em;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	outline: 0;
	background: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400
}

table {
	border-collapse: collapse;
	border-spacing: 0
}
img{
	max-width: 100%;
	vertical-align: middle;
}
fieldset, img {
	border: 0
}

li {
	list-style: none
}

input, button, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	border: 0;
	background: 0 0;
	outline: 0
}

button:focus, input:focus, select:focus, textarea:focus {
	outline: 0;
	-webkit-tap-highlight-color: transparent
}

a {
	-webkit-touch-callout: none;
	text-decoration: none!important;
	color: #333;
	outline: 0
}

a:active, a:hover{
	-webkit-tap-highlight-color:transparent;
}

em, i {
	font-style: normal
}

.cf:after{ content: ''; height: 0; display: block; clear: both; visibility: hidden; }
/* 以上为样式基础样式重置 */

.main_con{
	margin-top: 2.75em;
}

.block121 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-left:2.75em;
	padding-right: 2.75em;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	background: #48b2bd;
}
.block121  .title{
	height: 2.75em;
	line-height: 2.75em;
	color: #fff;
	text-align: center;
}
.block121  .arrow-left{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 2.75em;
	height: 100%;
}
.block121  .arrow-left img{
	width: 2.75em;
}
.block121  .arrow-right{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	padding: 0 .625em;
	line-height: 2.75em;
	color: #fff;
}
.block121 .arrow-left:active,
.block121 .arrow-right:active{
	background: #3aa8b4;
}
.block101 {
	position: relative;
	padding: 0 2em 0 0;
	line-height: 3em;
	border-bottom: 1px solid #bbb;
}

.block101 div[role='title'] {
	height: 3.5em;
	padding-left: 1em;
	line-height: 3.5em;
	overflow: hidden;
}

.block101 a {
	position: absolute;
	right: 1em;
	line-height: 1;
	top: 50%;
	margin-top: -.725em;
}

/* 段落标题栏2 */
.block102 {
	padding: 0.375em;
	background-color: #f0f0f0;
	/* text-align: center; */
	border-bottom: 1px solid #bbbbbb;
}

.block102 span {
	width: 80%;
	height: 0.9375em;
	display: inline-table;
	overflow: hidden;
}

.block102 img[role="image"] {
	float: right;
	margin-top: 0.375em;
}

.block103 {
	
}

.block104 {
	padding: 0.375em 0.75em;
	font-size: 16px;
	border-bottom: 1px solid #bbbbbb;
}

.block104 span {
	display: block;
	width: 100%;
	border: 1px solid #dedede;
	border-radius: 5px;
	position: relative;
}

.block104 input {
	padding-left: 0.75em;
	border: 0 none;
	outline: 0 none;
	width: 100%;
	height: 1.875em;
	background: #ffffff;
	padding-right: 6.25em;
	box-sizing: border-box;
	font-size: 1em;
}

.block104 button {
	padding: 0;
	margin: 0;
	position: absolute;
	outline: 0 none;
	height: 1.875em;
	font-size: 1em;
	top: 0;
	right: 0.125em;
	border-width: 0 0 0 1px;
	border-color: #dedede;
	border-radius: 0;
	text-align: center;
	line-height: 1.875em;
	background: #ffffff !important;
}

.block104 button::active {
	outline: 0 none;
}

.block104 img {
	position: absolute;
	left: 1.25em;
	top: 1em;
	width: 0.75em;
	height: 0.75em;
}

/* 段落标题栏 */
.block105 {
	padding: 0.75em;
	background-color: #48b3bd;
	text-align: center;
	color: #fff;
}

.block105 span {
	width: 80%;
	height: 0.9375em;
	display: inline-table;
	overflow: hidden;
}

.block106 {
	padding: 0.375em 0.75em;
}

.block106 span {
	font-size: 1em;
	height: 1.5em;
	display: block;
	width: 100%;
	overflow: hidden;
	line-height: 1.5em;
}

.block107 {
	padding: 0.375em 0.75em;
	position: relative;
	font-size: 16px;
	border-bottom: 1px solid #bbbbbb;
}

.block107 input {
	border: 0 none;
	outline: 0 none;
	width: 18em;
	overflow: hidden;
	background-color: transparent !important;
	overflow: hidden;
}

.block107 span {
	font-size: 0.875em;
}

.block107 img {
	width: 1em;
	height: 1em;
	position: absolute;
	top: 0.75em;
	right: 0.75em;
	z-index: 99;
}

.block107 .choice2 {
	display: none;
}

.block107 .choice2, .block107 .choice3 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
}

.block107 .choice3 {
	background-color: #000000;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.block107 .choice4 {
	width: 100%;
	height: 80%;
	position: fixed;
	z-index: 999;
	top: 50%;
	overflow: hidden;
	transform: translateY(-50%);
}

.block107 .choice4 ul {
	height: 100%;
	overflow-y: auto;
}

.block107 .choice4 li {
	list-style: none;
	border-radius: 0.375em;
	margin-left: 5%;
	padding: 0.75em;
	width: 90%;
	border-bottom: 1px solid #bbbbbb;
	background-color: #ffffff;
}

.block107 .choice4 li:last-child {
	border-bottom: 0 none;
}

.block108 {
	padding: 0.25em 0;
	padding-left: 5.5em;
	padding-right: 0.75em;
	background-color: #fff;
	position: relative;
}

.block108 span {
	text-align: right;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0.75em;
	transform: translateY(-50%);
	width: 5.5em;
}

.block108 input {
	margin-left: .75em;
	width: 80%;
	color: #333;
	line-height: 1.5em;
	font-size: 1em;
	border-radius: 5px;
	padding: 0.125em 0.75em;
	border: 1px solid #bbbbbb;
}

.block109 {
	padding: 0.25em 0;
	padding-left: 5.5em;
	padding-right: 0.75em;
	background-color: #fff;
	position: relative;
}

.block109 span {
	width: 5.5em;
	text-align: right;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0.75em;
	transform: translateY(-50%);
}

.block109 input {
	margin-left: .75em;
	width: 80%;
	color: #333;
	line-height: 1.5em;
	font-size: 1em;
	border-radius: 5px;
	padding: 0.125em 0.75em;
	border: 1px solid #bbbbbb;
}

.block112 {
	padding: 0.25em;
	background-color: #fff;
	position: relative;
}

.block112 span[role='left'] {
	width: 5.5em;
	text-align: right;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0.75em;
	transform: translateY(-50%);
}

.block112 span[role='right'] {
	line-height: 1.5em;
	border-radius: 5px;
	padding-left: 6em;
	height: 1.5em;
	overflow: hidden;
}

.block113 {
	padding: 0.25em 0;
	padding-left: 5.5em;
	padding-right: 0.75em;
	background-color: #fff;
	position: relative;
}

.block113 span {
	text-align: right;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0.75em;
	transform: translateY(-50%);
	width: 5.5em;
}

.block113 textarea {
	resize: none;
	vertical-align: middle;
	margin-left: .75em;
	width: 80%;
	color: #333;
	line-height: 1.5em;
	font-size: 1em;
	border-radius: 5px;
	padding: 0.125em 0.75em;
	border: 1px solid #bbbbbb;
}

.block119 {
	overflow: hidden;
}

.block119 ul {
	margin-bottom: 0.625em;
	background-color: #fff;
}

.block119 ul:last-child {
	margin-bottom: 0em;
}

.block119 ul li {
	position: relative;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-align: center;
	-moz-box-align: center;
	float: left;
	width: 50%;
	height: 3.75em;
	border-bottom: 1px solid #e8e8e8;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.block119 ul li:active {
	background: #f5f5f5;
}

.block119 ul li:nth-child(2n-1):after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	background: #e6e6e6;
	height: 100%;
}

.block119 ul li.none {
	border-bottom: 0
}

.block119 ul li .item {
	margin-left: 1.5625em;
	font-size: .875em;
}

.block119 ul li .item img {
	margin-right: .1rem;
	display: inline-block;
	width:4em;
	vertical-align: middle;
	background-size: 100% 100% !important;
	-webkit-background-size: 100% 100% !important;
}

.block301 {
	padding: 0.8em;
	border-bottom: 1px solid #bbb;
}

.block301 img[role='icon'] {
	float: left;
	width: 4.375em;
	height: 4.375em;
	margin-right: 0.8em;
	border-radius: 5px;
}

.block301 a {
	color: #333;
}

.block301 img[role='right'] {
	float: right;
	width: 0.4375em;
	height: 0.875em;
}

.block301 div[role='title'] {
	height: 1.8em;
	overflow: hidden;
	line-height: 1.4em;
}

.block301 span[role='title'] {
	width: 80%;
	display: inline-block;
}

.block301 div[role='describe'] {
	font-size: 0.9em;
	line-height: 1.6em;
	overflow: hidden;
	max-height: 3.2em;
}

.block303 {
	padding: 0.5em;
	width: 27%;
	display: inline-block;
	text-align: center;
}

.block303 a {
	display: inline-block;
	text-decoration: none;
}

.block303 img {
	width: 2em;
	height: auto;
	margin-bottom: 0.5em;
	max-width: 100%;
	vertical-align: middle;
}

.block303 span {
	display: block;
	color: #000;
}

/* 详情中的列表*/
.block401 {
	padding: 0.75em;
	background-color: #ffffff;
	border-bottom: 1px solid #bbbbbb;
}

.block401:after {
	content: '';
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}

.block401 img[role="product"] {
	float: left;
	width: 5em;
	height: 5em;
	margin-right: 0.75em;
	overflow: hidden;
}

.block401 .up_con {
	height: 5em;
	margin-bottom: 0.75em;
	line-height: 1.25em;
}

.block401 div[role='title'] {
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
	margin-bottom: 0.75em;
}

.block401 div[role='operation'] {
	height: 1.25em;
	overflow: hidden;
	line-height: 1.25em;
}

.block401 div[role='operation'] span {
	float: left;
	width: 1em;
	height: 1em;
	margin-right: 0.75em;
	width: 1em;
}

.block401 div[role='operation'] img {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.block401 div[role='operation'] span:last-child {
	margin: 0;
}

.block401 div[role='operation'] span[role='describe'] {
	width: 14em;
	height: 1.25em;
	margin: 0;
	overflow: hidden;
	line-height: 1.25em;
	display: inline-block;
	color: #3c0000;
}

.block401 .info {
	height: 1.625em;
	line-height: 1.625em;
}

.block401 span[role='remark'] {
	display: inline-block;
	width: 13em;
	height: 1.625em;
	overflow: hidden;
}

.block401 span[role='sales'] {
	border: 1px solid;
	color: #ff0000;
	padding: 0 0.125em;
}

.block401 .info button {
	float: right;
	outline: 0 none;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #bbbbbb;
	padding: 0.25em;
	line-height: 1.25em;
	font-size: 0.875em;
}

/* 采购列表*/
.block402 {
	padding: 0.75em;
	background-color: #ffffff;
	border-bottom: 1px solid #bbbbbb;
}

.block402:after {
	content: '';
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}

.block402 img[role='product'] {
	float: left;
	width: 5em;
	height: 5em;
	margin-right: 0.75em;
	overflow: hidden;
}

.block402 .up_con {
	height: 5em;
	margin-bottom: 0.75em;
}

.block402 .name {
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
	margin-bottom: 0.375em;
}

.block402 .c_buy {
	height: 1.625em;
	line-height: 1.625em;
	position: relative;
}

.block402 span[role='describe'] {
	width: 5.5em;
	display: inline-block;
	height: 1.625em;
	overflow: hidden;
}

.block402 .gobuy {
	width: 6.375em;
	position: absolute;
	right: 0;
	top: -0.125em;
	z-index: 99;
}

.block402 .gobuy img {
	float: left;
	width: 1em;
	height: 1em;
}

.block402 .gobuy img[role='diff'] {
	margin: 0.375em 0.5em 0.375em 0em;
}

.block402 .gobuy img[role='add'] {
	float: right;
	margin: 0.375em 0em 0.375em 0.375em;
}

.block402 .gobuy input {
	width: 3.75em;
	outline: 0 none;
	border-radius: 5px;
	border: 1px solid #bbbbbb;
	padding: 0.25em;
	font-size: 0.9em;
	text-align: center;
}

.block402 .info {
	font-size: 0.875em;
	width: 100%;
	height: 1.625em;
	line-height: 1.625em;
	overflow: hidden;
}

.block402 .info span[role='remark'] {
	display: inline-block;
	width: 100%;
	height: 1.625em;
	overflow: hidden;
}

.block601 {
	width: 100%;
	min-height: 192px;
	padding: 0.5em 0.175em;
}

.block601 img {
	width: 100%;
}

.block602 {
	width: 100%;
}

.block602 img {
	width: 100%;
	padding: 0.175em;
}

.block603 {
	margin: 3em 2em;
	text-align: center;
}

.block604 {
	border: 1px solid #bbbbbb;
	margin: 0
}

.block604 a {
	text-decoration: none;
	width: 50%;
	text-align: center;
	display: inline-block;
}

.block604 img {
	width: 4em;
	height: 4.1em;
	margin-top: 0.4em
}

.block604 span {
	display: block;
	color: #999
}

.block604 span.title {
	padding: 0.5rem;
	color: #333;
}

.block604 ul {
	width: 50%;
	text-align: center;
	display: inline-block;
	padding-left: 0;
}

.block604 ul li {
	padding: 0.2em;
	border-style: solid;
	border-width: 0 0 1px 1px;
	border-color: #e6e6e6;
	line-height: inherit;
	list-style: none;
}

.block604 ul li img {
	width: 1.5em;
	height: auto;
	margin-left: 0.2em;
	max-width: 100%;
	vertical-align: middle;
}

.block901 {
	margin: 3em 2em;
}

.block901 span {
	display: inline-block;
	margin: 0.5em 0;
}

/*底部确认购买*/
.block991 {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3em;
	padding: 0.6em 0 0.375em 0;
	border-top: 1px solid #bbbbbb;
	background-color: #ffffff;
	z-index: 99999;
}

.block991 img {
	width: 0.4375em;
	height: 0.875em;
	margin: 0.5em 1em 0.375em 1em;
	float: left;
}

.block991 button {
	outline: 0 none;
	font-size: 0.875em;
	padding: 0.375em;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
	float: left;
}

.block991 span {
	float: right;
	color: #fc532a;
	margin-right: 0.75em;
	display: inline-block;
	width: 11em;
	text-align: center;
	height: 1.875em;
	overflow: hidden;
}

.block992 {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3em;
	padding: 0.5em 0;
	border-top: 1px solid #bbbbbb;
	background-color: #ffffff;
	z-index: 99999;
	text-align: center;
	overflow: hidden;
}

.block992 button {
	height: 2em;
	margin: 0 0.375em;
}

input[role="chkPartCode"][type="checkbox"] {
	display: none;
}